---
let number = 5;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <script src="/htmx.js" is:inline></script>
    <meta name="generator" content={Astro.generator} />
    <title>HTMX and Astro</title>
  </head>
  <body>
    <!-- replace with form -->
    <form hx-post="/prompt" hx-target="#result">
      <div class="flex items-end gap-4">
        <div class="text-6xl">Find me a helpful book about</div>
        <input
          type="text"
          name="prompt"
          placeholder="Prompt"
          value="Psychoanalysis"
          id="prompt"
          class="border-2 border-solid border-black"
        />
        <button type="submit" class="bg-red-100">Submit</button>
      </div>
    </form>
    <div class="max-w-sm">
      <div id="result"></div>
    </div>
  </body>
</html>
