---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <script src="/htmx.js" is:inline></script>
    <meta name="generator" content={Astro.generator} />
    <title>HTMX and Astro</title>
  </head>
  <body>
    <!-- replace with form -->
    <form hx-post="/prompt" hx-target="#result">
      <div>A helpful book about</div>
      <input
        type="text"
        name="prompt"
        placeholder="Prompt"
        value="Psychoanalysis"
        id="prompt"
        class="border-2 border-solid border-black"
      />
      <button type="submit" class="bg-red-100 p-2">Submit</button>
    </form>
    <div>
      <div id="result"></div>
    </div>
    <div
      hx-post="/clicked"
      hx-target="#click-target"
      hx-trigger="click[ctrlKey]"
    >
      Click me [with ctrl]
    </div>
    <div id="click-target"></div>

    <div id="color" hx-get="/colors" hx-swap="outerHTML" hx-trigger="click">
      Color Swap Demo
    </div>
  </body>
</html>
